<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css//style.css') }}">
    <title>Weather</title>
</head>
<body>
    <header>
        <nav class="topnav">
            <ul>
                <li><a href="/">Home page</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <h1>Погода на сегодня в {{weather.name}}</h1>
        <p>Погодные условия: {{weather.weather[0].description}}</p>
        <p>Текущая температура: {{weather.main.temp}}°C, ощущается как {{weather.main.feels_like}}°C</p>
        <p>Давление: {{weather.main.pressure}} hPa</p>
        <p>Влажность: {{weather.main.humidity}}%</p>
    </main>


</body>
</html>